---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="chinese">
    <article class="prose lg:prose-2xl">
        <h1>陈凯萍</h1>
        <p>
            欢迎来到我的网站！我是威斯康辛大学麦迪逊分校 (<a
                href="https://www.wisc.edu">wisc.edu</a
            >) 传媒系副教授
            (终身教授职位)。90年代生于上海，2012年毕业于复旦大学国际关系与公共事务学院
            (<a href="https://sirpa-en.fudan.edu.cn">sirpa-en.fudan.edu.cn</a
            >)，获法学学士学位，经济学第二专业证书;
            2014年毕业于哥伦比亚大学国际与公共事务学院 (<a
                href="https://sipa.columbia.edu">sipa.columbia.edu</a
            >)，获公共行政硕士学位 (MPA); 2019年获得斯坦福大学传媒系 (<a
                href="https://comm.stanford.edu">comm.stanford.edu</a
            >) 博士学位。
        </p>
        <p>
            我的研究方向是计算传媒、社交媒体、协商艺术、公共治理创新、科学传媒、环保传媒、数据科学。我的研究理论来源于跨学科：政治学、公共管理、传媒学和计算机。我的研究国家包括美国、中国、戛纳等。
        </p>
        <p>
            我和同事的文章曾发表于传媒学，政治学和综合科学等国际顶级期刊，包括《美国国家科学院院刊》(PNAS)、传播学刊
            (Journal of Communication)、计算机为媒介的通信杂志 (Journal of
            Computer-Mediated Communication)、新媒体和社会 (New Media &
            Society)、《美国政治学评论》(APSR)、公共舆论季刊 (Public Opinion
            Quarterly)、《公众对科学的认知》(PUS)、《哈佛肯尼迪学院Misinformation评论
            》(HKS Misinformation
            Review)、《国际公共管理期刊》(IPMJ)、《混合方法研究》(Journal of
            Mixed Methods Research)、拉塞尔·塞奇基金会社会科学期刊 (The Russell
            Sage Foundation Journal of the Social Sciences)、立法的理论与实践
            (The Theory and Practice of Legislation) 等同行评审期刊。
        </p>
        <p>
            我的研究曾获美国国家传播协会“政治传播领域最佳博士论文奖”、国际传播协会“凯德-桑德斯年度最佳政治传播文章奖”、
            以及新闻与大众传播教育协会“青年女性学者奖”。基于对社会的影响力，我在2024年被授予威斯康辛州最具影响力亚裔领袖称号。
         </p>
        <p>联系方式: kchen67 at wisc dot edu</p>
    </article>
</BaseLayout>
