---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="research">
    <article class="prose lg:prose-2xl">
        <h1>Research Themes</h1>
        <p>
            As a science communication scholar with expertise in deliberative
            democracy and computational social science, my research programs
            focus on two key objectives: identifying the sociopolitical
            mechanisms that lead to inequity in science and technology
            communication and developing deliberation technologies to empower
            communities. My work advances theories across communication,
            political science, and computer/information sciences while striving
            to create practical solutions that promote equity and civic
            engagement.
        </p>
        <h4>Uncovering Inequity in Science and Technology Communication</h4>
        <p>
            Digital platforms have expanded access to scientific knowledge, but
            they can also reproduce biases. My research examines how these
            biases manifest across social groups, content creators, and AI
            systems. Studying 14,000+ YouTube videos, I introduced the concept
            of “segregated inclusion”—where diverse voices exist but remain
            structurally marginalized. My work also explores gender
            representation in science communication, showing that women are more
            often linked to themes of care and loyalty, while men are associated
            with authority. These biases extend to visual portrayals,
            influencing how science is framed across platforms. My ongoing work
            examines how AI systems may amplify such disparities and provide
            opportunities for cross-cultural empathy, particularly in science
            and medical information for non-English speakers.
        </p>
        <h5>Selected Publications</h5>
        <ul>
            <li>
                <a href="https://doi.org/10.1177/14614448211034846"
                    >Chen, K. Jeon, J., & Zhou, Y. (2023). A critical appraisal
                    of diversity in digital knowledge production: Segregated
                    inclusion on YouTube. <em>New Media & Society</em>, 25(11),
                    2855-2876.</a
                >
            </li>
            <li>
                <a href="https://doi.org/10.1093/jcmc/zmad052"
                    >Chen, K., Duan, Z., & Kim, S. (2024). Uncovering gender
                    stereotypes in controversial science discourse: Evidence
                    from computational text and visual analyses across digital
                    platforms. <em
                        >Journal of Computer-Mediated Communication</em
                    > , 29(1).</a
                >
            </li>
            <li>
                <a href="https://doi.org/10.1038/s41598-024-51969-w"
                    >Chen, K., Shao, A., Burapacheep, J., & Li, Y. (2024).
                    Conversational AI and equity through assessing GPT-3's
                    communication with diverse social groups on contentious
                    topics. <em>Scientific Reports</em>, 14(1), Article 1561.
                </a>
            </li>
        </ul>
        <h4>Empowering Communities in Science & Technology Policymaking</h4>
        <p>
            To address inequities, my team develops deliberation
            technologies—communication strategies and digital tools that enhance
            public participation in policymaking. In Dane County, Wisconsin, we
            conducted a field experiment showing that identity-based
            storytelling fosters stronger engagement in environmental policy
            discussions than fact-based messaging. Beyond in-person forums, my
            research explores digital crowdsourcing as a tool for ongoing civic
            engagement. My team developed the Wisconsin Climate Community
            Solutions platform, allowing residents to map environmental concerns
            and share personal experiences. This work demonstrates that
            deliberation fosters civic empowerment and government
            responsiveness, with evidence from the U.S., Ghana, and China.
        </p>
        <h5>Selected Publications / Open-Source Platforms</h5>
        <ul>
            <li>
                <a href="https://doi.org/10.1080/17524032.2024.2348497">
                    Molder, A. L., Villanueva, I. I., & Chen, K. (2024). The
                    impact of public deliberation and identity- based
                    storytelling on civic empowerment among latinx communities
                    on environmental issues.
                    <em>Environmental Communication</em>, 18(8), 1092-1109.</a
                >
            </li>
            <li>
                Digital Crowdsourcing Platform:
                <a href="https://ccs.mysocialpinpoint.com"
                    >https://ccs.mysocialpinpoint.com</a
                >
            </li>
            <li>
                Community Knowledge Map:
                <a href="https://connect.doit.wisc.edu/knowledge-map"
                    >https://connect.doit.wisc.edu/knowledge-map</a
                >
            </li>
        </ul>
        <h4>Advancing Computational Social Science Methods</h4>
        <p>
            My work contributes to computational social science by integrating
            advanced methods to study public discourse. My work expands beyond
            text analysis by using Computer Vision & NLP to analyze large-scale,
            cross-platform discussions, combining computational models with
            qualitative research to enrich public opinion studies, and
            collaborating across disciplines (computer science, mathematics,
            geosciences) to apply data science in innovative ways.
        </p>
        <h5>Selected Publications</h5>
        <ul>
            <li>
                <a href="https://doi.org/10.5117/CCR2022.1.003.CHEN">
                    Chen, K., Kim, S. J., Gao, Q., & Raschka, S. (2022). Visual
                    framing of science conspiracy videos: Integrating machine
                    learning with communication theories to study the use of
                    color and brightness. <em>Computational Communication Research</em>,
                    4(1), 98-134.</a
                >
            </li>
            <li>
                <a href="https://doi.org/10.1080/10967494.2018.1488780">
                    Chen, K., & Aitamurto, T. (2019). Barriers for crowd’s
                    impact in crowdsourced policymaking: Civic data overload and
                    filter hierarchy. <em>International Public Management Journal</em>,
                    22(1), 99-126.</a
                >
            </li>
            <li>
                <a href="https://doi.org/10.1073/pnas.2020524118">
                    Hou, X., Gao, S., Li, Q., Kang, Y., Chen, N., Chen, K., Rao,
                    J., Ellenberg, J. S., & Patz, J. A. (2021). Intracounty
                    modeling of COVID-19 infection with human mobility:
                    Assessing spatial heterogeneity with business traffic, age,
                    and race. <em>
                        Proceedings of the National Academy of Sciences
                    </em>, 118(24), Article e2020524118.
                </a>
            </li>
        </ul>
    </article>
</BaseLayout>
